<!DOCTYPE root[<!ELEMENT Textpage ANY>
<!ATTLIST Textpage id ID #REQUIRED>
 
<!ELEMENT Agenda ANY>
<!ATTLIST Agenda id ID #REQUIRED>
<!ELEMENT Agendas ANY>
<!ATTLIST Agendas id ID #REQUIRED>
<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>
<!ELEMENT Speaker ANY>
<!ATTLIST Speaker id ID #REQUIRED>
<!ELEMENT Speakers ANY>
<!ATTLIST Speakers id ID #REQUIRED>
<!ELEMENT TetsPage ANY>
<!ATTLIST TetsPage id ID #REQUIRED>

]>
<root id="-1">
  <Home id="1048" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-04-18T02:13:23" updateDate="2015-04-18T05:06:51" nodeName="teradatachina.com" urlName="teradatachinacom" path="-1,1048" isDoc="" nodeType="1047" creatorName="admin" writerName="admin" writerID="0" template="1050" nodeTypeAlias="Home">
    <pageTitle><![CDATA[2015 Teradata 大数据峰会&middot;深圳]]></pageTitle>
    <banner><![CDATA[[
  {
    "imagesrc": "1056",
    "link": "",
    "description": ""
  },
  {
    "imagesrc": "1057",
    "link": "",
    "description": "40+ 行业专家演讲嘉宾<br><span>数据驱动助力业务发展</span>"
  },
  {
    "imagesrc": "1058",
    "link": "",
    "description": "2015 Teradata 大数据峰会 • 深圳<br><span>2015年5月8日 深圳福田香格里拉大酒店</span>"
  }
]]]></banner>
    <text><![CDATA[<div class="clear"></div>
<div class="indexp2">
<table border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="font-size: 18px; font-weight: bold; text-align: center; padding: 10px 0px; color: #000000; width: 33%;">会议介绍</td>
<td style="font-size: 18px; font-weight: bold; text-align: center; padding: 10px 0px; color: #000000; width: 37%;">精彩内容</td>
<td style="font-size: 18px; font-weight: bold; text-align: center; padding: 10px 0px; color: #000000; width: 30%;">日程安排</td>
</tr>
<tr>
<td>
<p>Teradata大数据峰会是数据管理、业务分析、整合营销管理的顶尖峰会，旨在帮助企业更好地了解客户与业务， 获得更大竞争优势。届时，来自商业智能、大数据分析与企业数据仓库行业的业界领袖及Teradata全球众多客户的顶级演讲嘉宾，将针对实现更加智能的分析， 共同分享他们的经验、见解、成功案例与面临的挑战。本次盛会也将会吸引来自大中华地区约800位参会嘉宾，将盛况空前。</p>
<p>随着大数据技术持续升级，各类机构都必须做好处理越来越复杂的数据传送与信息需求分析的准备。2015年Teradata 大数据峰会的参与者将从全球领先的富有远见的思想家、企业主管、数据科学家、分析师及技术人员们身上学习到如何更巧妙、更合理地运用数据。</p>
<p>Teradata 大数据峰会为参与者提供了参加不同主题的内容丰富的研讨会的机会，实用的专业技能和前所未有的交流机会。了解分析领域的最佳实践、学习行业专家以及思想领袖的最新观点、建立重要的业务关系，从而提升企业的业务水平。</p>
</td>
<td>
<p>Teradata致力于将每届大数据峰会打造为业内顶尖的技术经验分享交流盛会，每年都吸引了来自世界各地的千名与会者和行业专家参与，本届亦将盛况空前，您将可以：</p>
<ul>
<li><strong>求索数据价值：</strong>了解数据如何助力企业实现数字驱动型转型，探索大数据价值的无穷魅力所在</li>
<li><strong>探寻前沿技术：</strong>了解Teradata整合数据仓库、Aster以及Hadoop的技术创新和一系列深远举措，探寻如何利用最新技术和解决方案打造数据分析系统</li>
<li><strong>领悟不凡洞见：</strong>获取超过十大行业的精彩案例，收获成功迈向数据驱动型企业旅程中的最鲜活经验</li>
<li><strong>独享专属交流：</strong>获得一对一见面交流机会，对话国际数据分析领域顶尖风云人物，求证自身数据分析需求和技术难题</li>
<li><strong>携手行业精英：</strong>聆听全球最强精英的智慧，感受大数据研究专家、合作伙伴、意见领袖的思想力量</li>
</ul>
<p>我们真诚期待您的莅临！</p>
</td>
<td align="center">
<p><a href="/umbraco/agenda.aspx"><img src="/media/1004/ipart2img.jpg" alt="" /></a></p>
</td>
</tr>
</tbody>
</table>
</div>]]></text>
    <Speakers id="1066" parentID="1048" level="2" creatorID="0" sortOrder="0" createDate="2015-04-18T05:44:02" updateDate="2015-04-18T05:44:02" nodeName="speakerlist" urlName="speakerlist" path="-1,1048,1066" isDoc="" nodeType="1064" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="Speakers">
      <Speaker id="1071" parentID="1066" level="3" creatorID="0" sortOrder="0" createDate="2015-04-18T05:56:40" updateDate="2015-04-18T05:56:40" nodeName="1" urlName="1" path="-1,1048,1066,1071" isDoc="" nodeType="1065" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="Speaker">
        <name><![CDATA[辛儿伦]]></name>
        <title><![CDATA[大中华区首席执行官]]></title>
        <company><![CDATA[Teradata天睿公司]]></company>
        <speaktime><![CDATA[08:40-09:00]]></speaktime>
        <speaksummary><![CDATA[欢迎致辞]]></speaksummary>
        <introduction><![CDATA[<p>辛儿伦(Aaron HSIN)先生现任Teradata天睿公司大中华区首席执行官、全球国际集团副总裁，于2010年3月上任，负责公司在中国大陆、台湾、香港、澳门等地区的业务。Teradata天睿公司目前在大中华区有8个分支机构，包含市场、研发、技术和解决方案推广、咨询服务，和合作伙伴开发等业务近1,200名专业员工。在我们的社会步入以数据经济和信息资源为竞争主轴的时代里，辛先生带领团队以客户为中心，客户满意度为依归，向政府、企业等用户提供全球领先的大数据分析、数据仓库以及业务应用等技术和解决方案，帮助用户从数据资产中获取商业洞察力，并且将洞察力转化为精确的行动，为其业务和服务品质的提升，激发潜能。</p>
<p> </p>
<p>上任以来，Teradata大中华区业务保持每年双位数的增长速度，得益于用户的支持，目前大中华区已有超过十多个行业的客户，包含政府与公共服务、地铁、交通运输、航空、通信行业、银行、保险、证券、物流、快递行业、制造行业、汽车、零售、电子商务、电力能源等等。同时，积极与当地的行业合作伙伴、高校等进行项目合作及人才培育。大中华区的业务获得Teradata天睿公司集团总部前所未有的支持和投入。</p>]]></introduction>
        <cda><![CDATA[主会场]]></cda>
        <photo>1070</photo>
      </Speaker>
    </Speakers>
    <Agendas id="1079" parentID="1048" level="2" creatorID="0" sortOrder="1" createDate="2015-04-18T06:16:42" updateDate="2015-04-18T06:16:42" nodeName="agendalist" urlName="agendalist" path="-1,1048,1079" isDoc="" nodeType="1074" creatorName="admin" writerName="admin" writerID="0" template="1076" nodeTypeAlias="Agendas">
      <Agenda id="1080" parentID="1079" level="3" creatorID="0" sortOrder="0" createDate="2015-04-18T06:20:20" updateDate="2015-04-18T06:20:29" nodeName="20150507" urlName="20150507" path="-1,1048,1079,1080" isDoc="" nodeType="1075" creatorName="admin" writerName="admin" writerID="0" template="1077" nodeTypeAlias="Agenda">
        <date>2015-05-07T00:00:00</date>
        <details><![CDATA[[
  {
    "timeduration": "09:00-21:00",
    "content": "嘉宾到达",
    "joinedusers": "所有嘉宾"
  },
  {
    "timeduration": "09:00-12:00",
    "content": "客户一对一见面会",
    "joinedusers": "客户、演讲嘉宾、Teradata领导层"
  },
  {
    "timeduration": "13:30-14:50",
    "content": "新闻发布会",
    "joinedusers": "媒体、Teradata领导层"
  },
  {
    "timeduration": "",
    "content": "客户一对一见面会",
    "joinedusers": "客户、演讲嘉宾、Teradata领导层"
  },
  {
    "timeduration": "15:00-16:00",
    "content": "媒体圆桌论坛",
    "joinedusers": "媒体、Teradata领导层"
  },
  {
    "timeduration": "16:00-18:00",
    "content": "媒体小组采访",
    "joinedusers": "媒体、受访者"
  },
  {
    "timeduration": "",
    "content": "客户一对一见面会",
    "joinedusers": "客户、演讲嘉宾、Teradata领导层"
  }
]]]></details>
      </Agenda>
    </Agendas>
    <Textpage id="1082" parentID="1048" level="2" creatorID="0" sortOrder="2" createDate="2015-04-18T06:26:58" updateDate="2015-04-18T06:26:58" nodeName="expo" urlName="expo" path="-1,1048,1082" isDoc="" nodeType="1081" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="Textpage" />
  </Home>
</root>